
a:focus, a:hover{
	color: #202929;
	text-decoration: none;
}

.jumbotron {
	text-align: center;
	background: #ffd3cd;
}

#j_content{
  color: #403d3d;
  text-transform: capitalize;;
}
.udacity {
	text-transform: capitalize;;
	color: #717171;
	margin-bottom: 15px;
}
p{
	color: rgb(35, 36, 40);
