
a:hover{
	text-decoration: none;
  color: #04878b;
}

.jumbotron {
	text-align: center;
}

#j_content{
  color: #167db6;
  text-transform: uppercase;
}
.udacity {
	text-transform: uppercase;
	color: #5f7886;
	margin-bottom: 15px;
	
}