
a:focus, a:hover{
	color: #c8d0d0;
	text-decoration: none;
}
.container .jumbotron, .container-fluid .jumbotron{
	border-radius: 0;
}
body{
	background: #333333;
}

#j_content{
  color: #b1cceb;
  text-transform: capitalize;;
}
.udacity {
	text-transform: capitalize;;
	color: #717171;
	margin-bottom: 15px;
}
p{
	color: #e9e9e9;
}
