body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
	background-color: #000000;
}

hr {
	height: 1px; 
	border-width:0;
	background-color: #333410;
	max-width: 100%;
}
h2 {
    font-size: 1.75em;
    color:#bbbbb9;

}
h3 {

    color:#f8241c;
    font-size: 16px;
}

h4 {
	color:#f8981c;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #c8cec9;
    max-width: 100%;
}

.info {
    max-width: 100%;
    
}

.text-muted {
	color: #999;
}

.text-thin {
	font-weight: 100;!important;
}


.title-super {
	font-size: 48px;
}

.title-logo {
	margin-top: 20px;
	
	}

@media (max-width: 549px){
	.title-super {
	   font-size: 30px;
       max-width: 100%;
	}
    .container {
	    max-width: 100%;
        
}
}

@media (min-width: 550px) and (max-width:800px) {
	.title-super {
        font-size: 36px;
        width:100%;
    }
    .row {
        margin: 5px 0 5px 0;
        max-width: 100%;
        justify-content: center;
}
    }


@media (min-width: 800px) {
     
    .container{
        display: block;
        width:800px;
        margin-left:auto;
        margin-right:auto;
       } 
    
    
